<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Buy Order</title>
        <script src="https://js.stripe.com/v3/"></script>
    </head>

    <body>
        <section>
            {% for item in order.orderitem_set.all %}
                <h4>{{ item }}</h4>
            {% endfor %}
            <p>total: ${{ order.total_price }}</p>
            <button type="button" id="buy-button">Buy</button>
        </section>
    </body>

    <script type="text/javascript">
        var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
        var buyButton = document.getElementById('buy-button');
        buyButton.addEventListener('click', function() {
        fetch('{% url 'buy-order' order.id %}', {method: 'GET'})
        .then(function (response) { return response.json(); })
        .then(function (session) { return stripe.redirectToCheckout({ sessionId: session.id }); })
        });
    </script>

</html>